html,
body{
    height: 100%;
    margin: 0;
}

.book_page_main {
    width: 100%;
    height: 100%;
}

.logo_top_left {
    margin-left: 2%;
}

.book_page_inner {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    
}

.book_page_main h1 {
    font-weight: normal;
    color: #154675;
    margin: 5px;
    margin-top: 0px;
}

.make_appointment_bar {
    background-color:#E0AF27;
    text-align: left;
    padding: 5px;
    margin-bottom: 0px;
    width: 85%;
}


.make_appointment {
    background-color: whitesmoke; 
    height: 100%;
    width: 85%;
    margin: 10px;
    margin-top: 0px;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-items: stretch;


}

.make_appointment_bar h2 {
    margin: 5px;
    font-weight: lighter;
}

.make_appointment_item {
    background-color: #E0AF27;
    margin: 25px;
    width: 50%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#schedule {
    background-color: transparent;
}

.calendar_small {
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 75%;
    height: 75%;
    border-radius: 5px;
    margin: 10px;
}


.book_button {
    background-color: #154675 !important;
    border-color: #154675 !important;
    font-weight: lighter !important;
}

.about_booking {
    background-color: whitesmoke;
    width: 90%;
    height: 75%;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
    padding: 10px;
    font-size: 130%;
    font-weight: lighter;
}