.center {
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.left-center {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-left: 5%;
}

.right-center {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-right: 5%;
}

.bottom-center {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}


#calendar {
  width: 58%;
  height: 44%;
  background-color:#154675;
  border-radius: 20px;
  text-align: center;
}

#about {
  width: 30%;
  height: 44%;
  background-color:#E0AF27;
  border-radius: 20px;
  text-align: center;
}

#book-btn {
  width: 58%;
  height: 44%;
  background-color:#154675;
  text-align:center;
}
